/* h-1/5 w-full mb-10 bg-contain bg-center bg-no-repeat bg-[url('../../public/assets/text/SKOweb-Homepage_construction_text.webp') */
.text {
	height: 20vh;
	width: 100%;
	margin-bottom: 8rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@media (max-width: 768px) {
  /* Estilos que se aplicarán solo en pantallas con ancho menor a 768px */
  /* Agrega tus estilos específicos aquí */
  .text{
	margin-bottom: 0rem;
  }
}