.characters {
	/* margin-left: 10rem; */
	padding-left: 5rem;
	width: 100%;
	height: 20rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	/* border: 2px solid red; */
	display: flex;
}

@media (max-width: 768px) {
  /* Estilos que se aplicarán solo en pantallas con ancho menor a 768px */
  /* Agrega tus estilos específicos aquí */
  .characters{
	padding-left: 0;
  }
}